*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #1a1a1a;
   width: 100%;
}
ul{
    cursor: pointer;
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}     
.Enquiry {
  position: relative;
  overflow: hidden;
  color: #FFF;
  background-color: #D80286;
  padding: 18px 36px;
  border-radius: 0px;
  z-index: 1;
  transition: color 0.7s ease; 
}
.Enquiry::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -130px; 
  width: 200px;
  height: 130px;
  background: #000;
  border-radius: 50%;
  transition: top 0.4s ease-out; 
  z-index: -1;
}

.Enquiry:hover::before {  top: -14px;
}



